/// you can set module or layout style in different state or page, like:
/// State is-error
/// .is-error{color: red !important}
/// Module btn in Layout sidebar
/// #sidebar .btn{color: red !important}
.is-nopadding{
  padding: 0 !important;
}
.is-align-right {
  float: right;
}
.is-align-left {
  float: left;
}
.is-sidebar-hidden{
  left: -220px !important;
}
.is-sidebar-show{
  left: 0 !important;
}
.is-content-decompressed{
  margin-left: 0 !important;
}
.is-content-compressed{
  margin-left: 220px !important;
}
