/*
 * Layout: Dashboard
 * ------------------
 */

html {
  height: 100%;
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

a {
  text-decoration: none;
}

/* Body Triggers for layout options
------------------------------------------------------------------
*/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $gray-darker;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  &.fixed-header {
    .header {
      position: fixed;
      left: 0;
      top: 0;
    }
  }
  &.mobile {
    .sidebar-menu {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .sidebar-menu > ul {
      height: auto !important;
      overflow: visible !important;
      -webkit-overflow-scrolling: touch !important;
    }
    .page-sidebar .sidebar-menu .menu-items {
      li {
        &:hover {
          a {
            color: $color-menu-light;
          }
          .icon-thumbnail {
            color: $color-menu-light !important;
          }
        }
        &.active, &.open {
          & > a {
            color: #fff;
          }
          & > .icon-thumbnail {
            color: #fff;
          }
        }
      }
    }
    .drager {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  &.sidebar-visible {
    .page-sidebar {
      .scroll-element {
        visibility: visible;
      }
      .menu-items {
        .icon-thumbnail {
          transform: translate3d(-14px, 0, 0)
        }
      }
      .sidebar-header .sidebar-header-controls {
        transform: translate3d(48px, 0, 0)
      }
    }

  }
  &.no-header {
    .page-container .page-content-wrapper .content {
      padding-top: 0px;
    }
    .header {
      border-bottom-color: transparent;
    }
  }
}

.content-wrapper {
  min-height: 100%;
  position: relative;
  background-color: $body-bg;
  .content-header {
    position: relative;
    padding: 15px 15px 0 15px;
    // Header Text
    > h1 {
      margin: 0;
      font-size: 24px;
      > small {
        font-size: 15px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 300;
      }
    }
    @media (max-width: $screen-sm-max) {
      > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        // background: $gray;
        padding-left: 10px;
        // li:before {
        //     color: darken($gray, 20%);
        // }
      }
    }
  }
  .content {
    /* Content holder */
    margin-left: 220px;
    display: block;
    height: 100%;
    z-index: 10;
    padding-top: $layout-header-height;
    padding-bottom: 72px;
    min-height: 100%;
    transform: transition(all 0.3s ease);
    &.full-width {
      width: 100%;
    }
    .content-inner {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      padding-left: 30px;
      position: relative;
    }
    &:only-child {
      padding-bottom: 0px;
    }
    &.overlay-footer {
      padding-bottom: 0px;
    }
  }
  .footer {
    /* Footer */
    margin-left: 220px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: transition(left 0.3s ease);
  }
}

.content-wrapper, .right-side, .main-footer {
  margin-left: 220px;
  z-index: 820;
}

.layout-top-nav {
  .content-wrapper, .right-side, .main-footer {
    margin-left: 0;
  }
}

@media (max-width: 776px) {
  .content-wrapper, .right-side, .main-footer {
    margin-left: 0;
  }
}

@media (min-width: 776px) {
  .sidebar-collapse {
    .content-wrapper, .right-side, .main-footer {
      margin-left: 0;
    }
  }
}

@media (max-width: 776px) {
  .sidebar-open {
    .content-wrapper, .right-side, .main-footer {
      transform: translate(220px, 0);
    }
  }
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #ccc;
}