/// Modules footer
.footer {
    @include footer();
    background-color: rgb(238, 243, 250);
}
@media screen and (max-width: $screen-sm-max) {
  .footer {
    @include footer-responsive();
  }
}

.help {
  display: table-cell;
  text-align: right;
  padding-right: 15px;
  a {
    color: $link-color;
  }
  a:hover, a:focus {
    color: $footer-a-hover-color;
  }
}

.copyright{
  padding-left: 15px;
  color: $gray-light;
}
.line {
  margin: 0px $margin-default;
}
