// Main Header

.main-header {
  position: fixed;
  float: left;
  max-height: 100px;
  z-index: 1000;
  width: 100%;
  .navbar-custom-menu, .navbar-right {
    float: right;
  }
  .logo {
    background: $color-menu-dark;
    border-bottom: 1px solid $color-menu-darker;
    transform: transition($transition-speed $transition-fn);
    display: block;
    float: left;
    height: $navbar-height;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    width: $layout-sidepanel-pin-width;
    font-weight: 300;
    overflow: hidden;
    color: $color-white;
    .logo-lg {
      display: block;
    }
    .logo-mini {
      display: none;
    }
  }
  .navbar-brand {
    color: #fff;
  }
  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    background: $color-white;
    height: 50px;
    transform: transition($transition-speed $transition-fn);
    margin-bottom: 0;
    margin-left: $layout-sidepanel-pin-width;
    border: none;
    min-height: $navbar-height;
    border-radius: 0;
  }
    .sidebar-toggle{
      color: $gray-dark;
      float: left;
      background-color: transparent;
      background-image: none;
      font-family: fontAwesome;
      padding: $navbar-padding-vertical $navbar-padding-horizontal;
      &:before {
        content: "\f03b";
      }
      &:hover {
        color: $gray-darker;
      }
      &:focus, &:active {
        background: transparent;
      }
      .icon-bar {
        display: none;
      }
    }
    .navbar-custom-menu{
      color: $gray-dark;
      &:hover {
        color: $gray-darker;
      }
      &:focus, &:active {
        background: transparent;
      }
    }
}

.navbar-nav {
  > li > a {
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-link-hover-bg;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: $navbar-default-link-active-color;
      background-color: $navbar-default-link-active-bg;
    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $navbar-default-link-disabled-color;
      background-color: $navbar-default-link-disabled-bg;
    }
  }
}

.layout-top-nav .main-header > .navbar {
  margin-left: 0;
}


@media (max-width: $screen-sm-max) {
  .main-header {
    .navbar-custom-menu a, .navbar-right a {
      color: $gray-dark;
      background: transparent;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .main-header .navbar-right {
    float: none;
  }
  .navbar-collapse .main-header .navbar-right {
    margin: 7.5px -15px;
  }
  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}



//Control navbar scaffolding on x-small screens
@media (max-width: $screen-sm-max) {
  .navbar-custom-menu .navbar-nav > li {
    float: left;
  }
  //Dont't let links get full width
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
  }

  .navbar-custom-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}

// Collapse header
@media (max-width: $screen-sm-max) {
  .main-header {
    position: fixed;
    .logo,
    .navbar {
      width: 100%;
      float: none;
    }
    .navbar {
      margin: 0;
    }
    .navbar-custom-menu {
      float: right;
    }
  }
}

.navbar-collapse.pull-left {
  @media(max-width: $screen-sm-max) {
    float: none!important;
    + .navbar-custom-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 40px;
    }
  }
}
