.menu {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  > li{
    padding: 12px 5px 12px 15px;
    margin-right: 1px;
    cursor: pointer;
    > a {
      display: block;
      color: $sidebar-font-color;
    }
    .fa {
      width: 20px;
    }
    &:hover, &:focus {
      border-left: 4px solid #616e75;
      background-color: #dde3eb;
      padding-left: 11px;
      a {
        color: #222;
      }
    }
  }

  > .is-active {
    padding-left: 11px;
    border-left: 4px solid $sidebar-active-color;
    > a {
      color:$sidebar-active-color;
      font-weight: bold;
    }
    &:hover, &:focus {
      padding-left: 11px;
      border-left: 4px solid #009fe4;
      a {
        color: #009fe4;
      }
    }
  }

  .menu {
    display: block;
    padding-top: 0px;
    > li {
      padding: 12px 5px 12px 35px;
      &:hover, &:focus {
        padding-left: 31px;
      }
    }
    > .is-active {
      padding-left: 30px;
      &:hover, &:focus {
        padding-left: 30px;
      }
    }
  }
}
