/// This is nav module, it is a right component of header.
/// @group header
/// @since 0.4.0
.nav{
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  overflow: hidden;
  @include clearfix;
  .user {
    font-size: 16px;
    margin-right: 5px;
    span{
      margin-left:5px;
    }
  }
  a {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    line-height: $layout-header-height;
    img {
      opacity: 0.8;
      font-size: 12px;
      height: 15px;
      width: 15px;
      vertical-align: middle;
    }
  }
  .fa {
    font: normal normal normal 14px/1 FontAwesome;
    color: rgba(255, 255, 255, 0.8);
  }
}
/// This is a nav-toolbar module, and it is a child of nav.
/// @group header
/// @since 0.4.0
.nav-toolbar{
  li{
    float: left;
  }
}

.fa-bars {

  line-height: $layout-header-height;
  font-size: 20px;
  &:hover, &:focus {
    color: $color-white;
  }
}
/// This is a user-info module, and it appears user information
/// @group header
/// @since 0.4.0
.user-info {
  cursor: default;
}
