/// Module panel
.panel {
  padding: $padding-default 0;
  border-radius: $panel-radius;
  background-color: #fff;
}

/// Module panel-header
.panel-header {
  border-bottom: 1px solid $panel-heading-bdcolor;
  width: 100%;
  display: table;
  border-radius: $panel-radius $panel-radius 0 0;
  * > {
    display: table-cell;
    vertical-align: middle;
  }
}

/// Module panel-body
.panel-body {
  border-radius: 0;
  padding: $padding-default;
}
/// Module panel-footer
.panel-footer {
  padding: 20px 0;
  display: table;
  width: 100%;
  border-radius: 0 0 $panel-radius $panel-radius;
  > :first-child {
    vertical-align: middle;
    display: table-cell;
    padding-left: $padding-default;
  }
}

// table responsive
@media screen and (max-width: $screen-xs-max) {
  .panel-body {
    overflow: auto;
    margin: 30px $margin-default 0 $margin-default;
    border-radius: $panel-radius $panel-radius 0 0;
    border-top: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    .table {
      white-space: nowrap;
    }
  }
  .panel-footer {
    border-bottom: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    width: -moz-calc(100% - 17px);
    width: -webkit-calc(100% - 17px);
    width: calc(100% - 17px);
    margin-left: $margin-default;
  }
}
