/*
 * Component: Sidebar
 * ------------------
 */

// Sidebar menu
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      padding: 12px 5px 12px 15px;
      color: $color-menu-light;
      display: block;
      > .fa,
      > .glyphicon,
      > .ion {
        width: 20px;
      }
    }
    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }
  }
  li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
  }
  li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  li.active {
    > a > .fa-angle-left {
      display: block;
    }
    > .treeview-menu {
      display: block;
    }
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    padding:0;
    margin:0;
    padding-left: 5px;
    .treeview-menu {
      padding-left: 20px;
    }
    > li {
      margin: 0;
      > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        > .fa,
        > .glyphicon,
        > .ion {
          width: 20px;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
    }
  }
}

.main-sidebar,
.left-side {
  top: 0;
  left: 0;
  min-height: 100%;
  width: $layout-sidepanel-pin-width;
  z-index: 810;
  //Using disposable variable to join statements with a comma
  // @transition-rule: $transition-speed $transition-fn,
  //   width $transition-speed $transition-fn;
  // .transition-transform(@transition-rule);
  @media (max-width: $screen-xs-max) {
      padding-top: 100px;
  }
  @media (max-width: $screen-xs-max) {
    transform: translate(-$layout-sidepanel-pin-width, 0);
  }
  .sidebar-collapse & {
    @media (min-width: $screen-sm) {
      transform: translate(-$layout-sidepanel-pin-width, 0);
    }
  }
  .sidebar-open & {
    @media (max-width: $screen-xs-max) {
      transform: translate(0, 0);
    }
  }
}

.main-sidebar{
  background: $brand-menu;
  bottom: 0;
  left: 0;
  overflow: visible;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  z-index: 10;
  // border-right: 1px solid #E0E0E0;
}

//A fix for text overflow while transitioning from sidebar mini to full sidebar
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-menu:hover {
  overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu li > a {
  position: relative;
  > .pull-right {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
  }
}

//Add sidebar-mini class to the body tag to activate this feature
@media (min-width: $screen-sm) {
  .sidebar-mini.sidebar-collapse {
    .content-wrapper, .right-side, .main-footer {
      margin-left: 50px !important;
      z-index: 840;
    }
    .main-sidebar {
      transform: translate(0, 0);
      width: 50px !important;
      z-index: 850;
    }
    .sidebar-menu > li {
      position: relative;
      > a {
        margin-right: 0;
        > span {
          border-top-right-radius: 4px;
        }
      }
      &:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
      }
      > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
      }
      &:hover > {
        a > span:not(.pull-right), .treeview-menu {
          display: block !important;
          position: absolute;
          width: ($layout-sidepanel-pin-width - 50);
          left: 50px;
        }
        a > span {
          top: 0;
          margin-left: -3px;
          padding: 12px 5px 12px 20px;
          background-color: inherit;
        }
        .treeview-menu {
          top: 44px;
          margin-left: 0;
        }
      }
    }
    .main-sidebar .user-panel > .info, .sidebar-form {
      display: none !important;
      -webkit-transform: translateZ(0);
    }
    .sidebar-menu {
      > li > {
        a > span, .treeview-menu, a > .pull-right {
          display: none !important;
          -webkit-transform: translateZ(0);
        }
      }
      li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
      }
    }
    .main-header {
      .logo {
        width: 50px;
        > {
          .logo-mini {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 18px;
          }
          .logo-lg {
            display: none;
          }
        }
      }
      .navbar {
        margin-left: 50px;
      }
    }
  }
}

//A fix for text overflow while transitioning from sidebar mini to full sidebar
.sidebar-menu, .main-sidebar .user-panel {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu {
  > li.header {
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover {
    overflow: visible;
  }
}

.sidebar-form {
  overflow: hidden;
  text-overflow: clip;
  // remove border from form
  input:focus {
    border-color: transparent;
  }
}

.sidebar-menu {
  > li.header {
    overflow: hidden;
    text-overflow: clip;
  }
  li > a {
    position: relative;
    > .pull-right {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -7px;
    }
  }
}

