///Module table
//
// Tables
// --------------------------------------------------

// Base table
.table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // Cells
  > thead,
  > tbody,
  > tfoot {
      th,
      td {
        padding: $padding-default;
        line-height: $line-height-base;
        vertical-align: middle;
        border-top: 1px solid $table-border-color;
      }
  }
  // Bottom align for column headings
  > thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

}

///Module table-sort
// Sortable table
.table-sort {
  > thead {
    cursor: $cursor-clickable;
    .fa-sort-asc, .fa-sort-desc, .fa-sort-up, .fa-sort-down {
      margin-left: $table-sort-icon-margin;
      opacity: $table-sort-opacity;
    }
    .fa-sort {
      margin-left: $table-sort-icon-margin;
      opacity: $table-unsort-opacity;
      &:hover {
        opacity: $table-sort-opacity;
      }
    }
  }
}

///Module table-footer
// Table contains a footer
.statistics {
  padding: 20px 0;
  display: table;
  width: 100%;
  border-radius: 0 0 $panel-radius $panel-radius;
  > :first-child {
    vertical-align: middle;
    display: table-cell;
  }
}

///Module td-icon
//
// Td
// --------------------------------------------------

// Icon table
.table .td-icon {
  padding: 2px 5px;
  border-radius: $table-td-radius;
  border: 1px solid $table-td-bordercolor;
  background: $table-td-bgcolor;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  > .fa-desktop {
    font-size: $table-icon-fontsize;
    margin-right: 5px;
  }
  > .fa-client-group {
    margin-bottom: -2px;
    margin-right: 5px;
  }
}

// Default table detail
//
// for text detail
.table-detail-default {
  > tbody {
    cursor: $cursor-clickable;
  }
  .detail-default {
      padding: $padding-default;
      background-color: $table-detail-color;
      .detail-title {
        font-weight: $font-weight-default;
      }
  }
}

.table-stripped-2 {
  // change tr background color when odd
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}
.table-stripped-4 {
  > tbody > tr:nth-of-type(4n+1) {
    background-color: $table-bg-accent;
  }
}

// table responsive
@media screen and (max-width: $screen-xs-max) {
  .table {
    white-space: nowrap;
  }
}
