// /*----------------------------*/
//Variables
// /*----------------------------*/

// if you want to override variables , consider use `default`
// for example:
// $color: red;
// $color: blue !default;
// then the real value of $color will be red.


//== Base Color
// --------------------------------------------------

$gray-base:              #000;
$brand-primary:          #0c85e2;
$brand-success:          #00c644;
$brand-danger:           #ff6c60;
$brand-warning:          #f0ad4e;
$brand-info:             #33c5df;





$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee








// /* Base Color varriable for creating both light and dark colors */
$color-white:            #fff;
$color-black:            #000;

// /* Mixing Color varriable for creating both light and dark colors */
$mix-percentage-dark:      92%;
$mix-percentage-darker:    75%;
$mix-percentage-light:     80%;
$mix-percentage-lighter:   60%;
$mix-percentage-lightest:  20%;

// default color shades
$color-default-darker:     mix($color-white, $color-black,85%);
$color-default-dark:       mix($color-white, $color-black,90%);

// Primary color shades
$color-primary-darker:     mix($brand-primary, $color-black, $mix-percentage-darker);
$color-primary-dark:       mix($brand-primary, $color-black, $mix-percentage-dark);
$color-primary-light:      mix($brand-primary, $color-white, $mix-percentage-light);
$color-primary-lighter:    mix($brand-primary, $color-white, $mix-percentage-lighter);
$color-primary-lightest:   mix($brand-primary, $color-white, $mix-percentage-lightest);

// success color shades
$color-success-darker:     mix($brand-success, $color-black, $mix-percentage-darker);
$color-success-dark:       mix($brand-success, $color-black, $mix-percentage-dark);
$color-success-light:      mix($brand-success, $color-white, $mix-percentage-light);
$color-success-lighter:    mix($brand-success, $color-white, $mix-percentage-lighter);
$color-success-lightest:   mix($brand-success, $color-white, $mix-percentage-lightest);

// danger color shades
$color-danger-darker:      mix($brand-danger, $color-black, $mix-percentage-darker);
$color-danger-dark:        mix($brand-danger, $color-black, $mix-percentage-dark);
$color-danger-light:       mix($brand-danger, $color-white, $mix-percentage-light);
$color-danger-lighter:     mix($brand-danger, $color-white, $mix-percentage-lighter);
$color-danger-lightest:    mix($brand-danger, $color-white, $mix-percentage-lightest);

// warning color shades
$color-warning-darker:     mix($brand-warning, $color-black, $mix-percentage-darker);
$color-warning-dark:       mix($brand-warning, $color-black, $mix-percentage-dark);
$color-warning-light:      mix($brand-warning, $color-white, $mix-percentage-light);
$color-warning-lighter:    mix($brand-warning, $color-white, $mix-percentage-lighter);
$color-warning-lightest:   mix($brand-warning, $color-white, $mix-percentage-lightest);

// info color shades
$color-info-darker:        mix($brand-info, $color-black, $mix-percentage-darker);
$color-info-dark:          mix($brand-info, $color-black, $mix-percentage-dark);
$color-info-light:         mix($brand-info, $color-white, $mix-percentage-light);
$color-info-lighter:       mix($brand-info, $color-white, $mix-percentage-lighter);
$color-info-lightest:      mix($brand-info, $color-white, $mix-percentage-lightest);





$border-color-btn:         #ccc;


//** Padding.
$padding-default:            8px;

// ** Margin
$margin-default:            8px;

// ** Border
$border-color-default:      #eee;

//== Menu Vars (Sidebar)
// --------------------------------------------------
$menu-bezier:.05, .74, .27, .99;
$menu-icon-size: 40px;

// /* Generating Menu font color */
$sidebar-memu-color: $gray-dark;
// /* Menu Font Color */
$color-menu-link-hover:#fff;


//== Layout (sidebar & navbar)
// --------------------------------------------------
$layout-header-height:              50px;
$layout-mobile-header-height:       48px;
$layout-mobile-logo-scale:          0.8;
$layout-sidepanel-width-collapsed : 70px;
$layout-sidepanel-pin-width:        220px;
$layout-right-quickview-width:      285px;
$layout-user-profile-margin:        25px;
$layout-gutter-sm :                 5px;


//== Scaffolding
// --------------------------------------------------
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-lighter !default;
//** Global text color on `<body>`.
$text-color:            $gray-darker !default;
//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;


//== Typography
// --------------------------------------------------
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif !default;
$font-family-serif:       "Georgia", "Times New Roman", "Songti SC", "SimSun", serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;   // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default;   // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default;   // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default;  // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;    // ~24px
$font-size-h4:            ceil(($font-size-base * 1.4)) !default;    // ~20px (* for content-header *)
$font-size-h5:            $font-size-base !default;                  // ~14px
$font-size-h6:            ceil(($font-size-base * 0.85)) !default;   // ~12px

$font-weight-default:     600 !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


//== Components
// --------------------------------------------------
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//== Tables
// --------------------------------------------------


//== Buttons
// --------------------------------------------------
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              $gray-darker !default;
$btn-default-bg:                 $color-white !default;
$btn-default-border:             $gray-light !default;

$btn-primary-color:              $color-white !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-success-color:              $color-white !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $btn-info-bg !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        ($color-black, 46.7%) !default; // #777

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;


//== Forms
// --------------------------------------------------

//== Dropdowns
// --------------------------------------------------
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            ($color-black, 20%) !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken(#333, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   ($color-black, 46.7%) !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          ($color-black, 46.7%) !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


//-- Z-index master list
// --------------------------------------------------
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;





//== Media queries breakpoints
// --------------------------------------------------
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
// --------------------------------------------------
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
// --------------------------------------------------
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//== Navbar (header)
// --------------------------------------------------
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $gray-dark !default;
$navbar-default-bg:                $color-white !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten(#777, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten(#777, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


//== Navs (Tabs)
// --------------------------------------------------
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         ($color-black, 93.5%) !default;

$nav-disabled-link-color:                   ($color-black, 46.7%) !default;
$nav-disabled-link-hover-color:             ($color-black, 46.7%) !default;

//== Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          ($color-black, 93.5%) !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          ($color-black, 33.5%) !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


//== List group
// --------------------------------------------------
//##

//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;
//** `.list-group-item` border color
$list-group-border:             #ddd !default;
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           #f5f5f5 !default;
//** Text color of active list items
$list-group-active-color:       $component-active-color !default;
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

//** Text color of disabled list items
$list-group-disabled-color:      ($color-black, 46.7%) !default;
//** Background color of disabled list items
$list-group-disabled-bg:         ($color-black, 93.5%) !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;


//== Panels
// --------------------------------------------------
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          ($color-black, 20%) !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

//$panel-success-text:          $state-success-text !default;
//$panel-success-border:        $state-success-border !default;
//$panel-success-heading-bg:    $state-success-bg !default;
//
//$panel-info-text:             $state-info-text !default;
//$panel-info-border:           $state-info-border !default;
//$panel-info-heading-bg:       $state-info-bg !default;
//
//$panel-warning-text:          $state-warning-text !default;
//$panel-warning-border:        $state-warning-border !default;
//$panel-warning-heading-bg:    $state-warning-bg !default;
//
//$panel-danger-text:           $state-danger-text !default;
//$panel-danger-border:         $state-danger-border !default;
//$panel-danger-heading-bg:     $state-danger-bg !default;


//== Carousel (slideshow component)
// --------------------------------------------------
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;

//== Code
// --------------------------------------------------
//##

$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   ($color-black, 20%) !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;

//== Transition global options
$transition-speed: .3s;
$transition-fn:    ease-in-out;//cubic-bezier(0.32,1.25,0.375,1.15);

//** Text muted color
$text-muted:                  $gray-light !default;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Default background color used for all tables.
$table-bg:                      transparent;
//** Border color for table and cell borders.
$table-border-color:            $border-color-default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #fafbfc;
//** table spacing for base `table`.
$table-spacing:                 0;
//** table detail background color.
$table-detail-color:            #fcfcfc;
$table-sort-opacity:            0.7;
$table-unsort-opacity:          0.3;
$table-sort-icon-margin:        5px;

//td use module td-icon
$table-td-bordercolor:               #dfe5e8;
$table-td-bgcolor:                  #eceff1;
$table-td-margin:                   $margin-default;
$table-icon-fontsize:               10px;
$table-td-radius:                   3px;


//== dl, dt, dd
//
$dl-margin-default:             0;
$dt-width-default:              100px;
$dt-margin-default:             $margin-default;


//== Pagination
//
//##

$pagination-color:                     #428bca;
$pagination-bg:                        #fff;
$pagination-border:                    #ddd;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              #ddd;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;

$pagination-disabled-color:            #777;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;
$cursor-clickable:               pointer;

// Layout footer
$footer-a-hover-color:            #2a6496;

// Panel
$panel-heading-bdcolor:           $border-color-default;
$panel-radius:                    3px;

// sidebar
$sidebar-width:                    220px;
$sidebar-font-color:               #555555;
$sidebar-bg-color:                 #e9eff8;
$sidebar-hover-color:              #222;
$sidebar-hover-bordercolor:        #616e75;
$sidebar-hover-bgcolor:            #dde3eb;
$sidebar-active-color:             $brand-primary;

/// content
$content-bg-color:                 #eef3fa;
/// nav-color
/// @group header
/// @since 0.4.0
$header-hover-bgcolor:             mix($brand-primary, $color-black, 88%);
/// @group header
$header-bgcolor:                   $brand-primary;
