/**
 * Description.
 * @group Mixins
 * @todo Write something
 */

@mixin footer() {
  width: 100%;
  display: table;
  padding: 20px 0px;
  font-size: $font-size-base;
  > :first-child {
    &:not(.copyright) {
      text-align: center;
      color: $footer-color;
      width: 100%;
      display: inline-block;
    }
  }
}
/**
 *@group footer-responsive
 *
 */
@mixin footer-responsive() {
  > span, .help {
    display: block;
    text-align: center;
  }
  .help {
    margin-top: 10px;
  }
}
