doctype html
html(lang='en')
   head
      title Document
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='../build/main.css')
      script(src='../bower_components/jquery/dist/jquery.js')
      script(src='../bower_components/bootstrap/dist/js/bootstrap.js')

   body(data-spy='scroll', data-target='#myScrollspy', data-offset='20')
      .container
         .row
            nav#myScrollspy.col-md-3
               ul.nav.pills.stacked
                  li.active
                     a(href='#section1') Section 1
                     ul.childHide
                        li
                           a(href='#child1') child111
                        li
                           a(href='#child2') child2
                        li
                           a(href='#child3') child33
                  li
                     a(href='#section2') Section 2
                     ul.childHide
                        li
                           a(href='#child21') child21
                        li
                           a(href='#child22') child22
                        li
                           a(href='#child23') child23
                  li
                     a(href='#section3') Section 3
                     ul.childHide
                        li
                           a(href='#child31') child31
                        li
                           a(href='#child32') child32
                        li
                           a(href='#child33') child33
                  li
                     a(href='#section4') Section 4
                     ul.childHide
                        li
                           a(href='#child41') child41
                        li
                           a(href='#child42') child42
                        li
                           a(href='#child43') child43

            .col-md-9
               #section1
                  h1 Section 1
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child1
                  h1 Child 1
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child2
                  h1 Child 2
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child3
                  h1 Child 3
                  p Try to scroll this section and look at the navigation list while scrolling!


               #section2
                  h1 Section 2
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child21
                  h1 Child 21
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child22
                  h1 Child 22
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child23
                  h1 Child 23
                  p Try to scroll this section and look at the navigation list while scrolling!


               #section3
                  h1 Section 3
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child31
                  h1 Child 31
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child32
                  h1 Child 32
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child33
                  h1 Child 33
                  p Try to scroll this section and look at the navigation list while scrolling!


               #section4
                  h1 Section 4
                  p Try to scroll this section and look at the navigation list while scrolling!
               #child41
                  h1 Child 41
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!

               #child42
                  h1 Child 42
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!

               #child43
                  h1 Child 43
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!
                  p Try to scroll this section and look at the navigation list while scrolling!


