doctype html
html(lang='en')
   head
      title API Document
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='../build/main.css')
      link(rel='stylesheet', href='../demo/scss/doc.css')
      script(src='../bower_components/jquery/dist/jquery.js')
      script(src='../bower_components/bootstrap/dist/js/bootstrap.js')

   body(data-spy='scroll', data-target='#myScrollspy', data-offset='20')
      .container
         .row
            nav#myScrollspy.col-md-3
               ul.nav.pills.stacked
                  li.active
                     a.top(href='#buttons') Buttons

                  li
                     a(href='#color') Color

               div.modal-footer
                  a(href='#') Back to top
            .col-md-9
               #buttons
                  include docSrc/button
               #color
                  include docSrc/color