doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Sass
        link(href='../build/main.css', rel='stylesheet')

    body
        .container
            .row.scrollSass
                .col-md-3
                    nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix
                        ul.nav.bs-docs-sidenav
                            li.active
                                a(href="#A") A
                                //ul.nav
                                //    li
                                //        a(href="#a1") a1
                                //    li
                                //        a(href="#a2") a2
                                //    li
                                //        a(href="#a3") a3
                            li
                                a(href="#B") B
                                //ul.nav
                                //    li
                                //        a(href="#b1") b1
                                //    li
                                //        a(href="#b2") b2
                                //    li
                                //        a(href="#b3") b3
                            li
                                a(href="#C") C
                                //ul.nav
                                //    li
                                //        a(href="#c1") c1
                                //    li
                                //        a(href="#c2") c2
                                //    li
                                //        a(href="#c3") c3
                            li
                                a(href="#D") D
                                //ul.nav
                                //    li
                                //        a(href="#d1") d1
                                //    li
                                //        a(href="#d2") d2
                                //    li
                                //        a(href="#d3") d3
                            li
                                a(href="#E") E
                                //ul.nav
                                //    li
                                //        a(href="#e1") e1
                                //    li
                                //        a(href="#e2") e2
                                //    li
                                //        a(href="#e3") e3
                            li
                                a(href="#F") F
                                //ul.nav
                                //    li
                                //        a(href="#f1") f1
                                //    li
                                //        a(href="#f2") f2
                                //    li
                                //        a(href="#f3") f3
                        a.modal-footer(href='#A') Back to top
                .col-md-9
                    #A
                        p #A
                        include overview
                    #B
                        p #b
                        include overview

                    //include table
            footer.bs-docs-footer
                p Designed and built with all the love in the world by

        //script(type="text/javascript",src='../bower_components/jquery/dist/jquery.js')
        script(type="text/javascript",src='../bower_components/scrollspy/build/scrollspy.js')
        script(type="text/javascript",src='./js/sass.js')

