doctype html
html
	head(lang='en')
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='../build/main.css')
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/scrollspy/build/scrollspy.js')
	body
		.container
			.row
				.col-md-3
					nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix
						ul.nav.bs-docs-sidenav
							li
								a(href='#internal1') internal1
								ul.childHide
									li
										a child1
									li
										a child1
									li
										a child1
							li
								a(href='#internal2') internal2
								ul.childHide
									li
										a child1
									li
										a child1
									li
										a child1
							li
								a(href='#internal3') internal3
								ul.childHide
									li
										a child1
									li
										a child1
									li
										a child1
							li
								a(href='#internal4') internal4
								ul.childHide
									li
										a child1
									li
										a child1
									li
										a child1
						a.modal-footer(href='#A') Back to top
				.col-md-9
					#internal1
						p internal1
						include overview

					#internal2
						p internal2
						include overview

					#internal3
						p internal3
						include overview

					#internal4
						p internal4
						include overview

		script(src='js/sass.js')
