doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="assets/img/favicon.ico")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Light Bootstrap Dashboard by Creative Tim
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(name="viewport", content="width=device-width")
    // Bootstrap core CSS
    //- link(href="assets/css/bootstrap.min.css", rel="stylesheet")
    // Animation library for notifications
    //- link(href="assets/css/animate.min.css", rel="stylesheet")
    // Light Bootstrap Table core CSS
    //- link(href="assets/css/light-bootstrap-dashboard.css", rel="stylesheet")
    // CSS for Demo Purpose, don't include it in your project
    link(href="../build/main.css", rel="stylesheet")
    // Fonts and icons
    //- link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    //- link(href="http://fonts.googleapis.com/css?family=Roboto:400,700,300", rel="stylesheet", type="text/css")
    //- link(href="assets/css/pe-icon-7-stroke.css", rel="stylesheet")
  body
    header.navbar.navbar-static-top
      button.navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //a.logo(href="/")
        | LOGO
      //- .navbar-right.navbar-custom-menu
      //-   ul.nav.navbar-nav
      //-     li.notifications-menu 
      //-       a(href="/") 任务管理器
      //-     li.notifications-menu 
      //-       a(href="/") 漏洞
      //-     li.notifications-menu 
      //-       a(href="/") 病毒木马
      //-     li.notifications-menu 
      //-       a(href="/") 查防异常
      //-     li.notifications-menu 
      //-       a(href="/") Admin 
      //-     li.notifications-menu 
      //-       a(href="/") 退出
    nav.main-sidebar
      ul.sidebar-menu
        li.active.treeview
          a(href="overview")
            | Overview
        li.treeview
          a(href="gird")
            | Gird
        li.treeview
          a(href="typography")
            | Typography
        li.treeview
          a(href="#tables")
            | Tables
        li.treeview
          a(href="forms")
            | Forms
        li.treeview
          a(href="buttons")
            | Buttons
        li.treeview
          a(href="responsive")
            | Responsive utilities
    //- Begin include files
    .content-wrapper
      .content
        include table.jade
      footer.footer
        p.copyright.pull-right
          | &#169; 2015
          a(href="http://www.creative-tim.com") Creative Tim
          | , made with love for a better web