doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="assets/img/favicon.ico")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Light Bootstrap Dashboard by Creative Tim
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(name="viewport", content="width=device-width")
    link(href="../build/main.css", rel="stylesheet")
    script(src="../bower_components/angular/angular.min.js")
    script(src="js/forDemo.js")

  body
    header.main-header
      a.logo(href="/")
        | LOGO
      nav.navbar.navbar-static-top
        a.sidebar-toggle(href="/", data-toggle="offcanvas", role="button")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-custom-menu
          ul.nav.navbar-nav
            li.notifications-menu
              a(href="/") A
            li.notifications-menu
              a(href="/") B
            li.notifications-menu
              a(href="/") C
            li.notifications-menu
              a(href="/") D
            li.notifications-menu
              a(href="/") E
            li.notifications-menu
              a(href="/") F
    nav.main-sidebar(ng-app='saslessDemo',ng-controller='menuCtl')
      ul.sidebar-menu
        li
          a(href="/")
            i.fa.fa-home
            | 首页
        li.treeview
          a(href="#",ng-click='showSubMenu()')
            i.fa.fa-bank
            | 终端升级
            i.fa.pull-right(ng-class="{'fa-angle-up':showSubMenuFlag,'fa-angle-down':!showSubMenuFlag}")
          ul.treeview-menu(ng-class="{'menu-open':showSubMenuFlag}")
            li
              a(href="#")
                i.fa.fa-bank
                | 终端升级
            li
              a(href="#")
                i.fa.fa-bank
                | 终端升级
        li.active
          a(href="/")
            i.fa.fa-edit
            | 软件管理
        li
          a(href="#tables")
            i.fa.fa-beer
            | 统计报表
        li
          a(href="forms")
            i.fa.fa-bell
            | 安全日志
        li
          a(href="buttons")
            i.fa.fa-cab
            | 服务日志
        li
          a(href="responsive")
            i.fa.fa-calendar
            | 当前任务
        li
          a(href="responsive")
            i.fa.fa-coffee
            | 历史任务
        li
          a(href="responsive")
            i.fa.fa-futbol-o
            | 帐号管理
        li
          a(href="responsive")
            i.fa.fa-heartbeat
            | 分组管理
        li
          a(href="responsive")
            i.fa.fa-phone
            | 定时体检
        li
          a(href="responsive")
            i.fa.fa-pie-chart
            | 设置中心
    //- Begin include files
    .content-wrapper
      .content-header
        h4 首页
      .content
        button.btn.btn-primary(type="button") Left
        button.btn.btn-success(type="button") Left
        button.btn.btn-danger(type="button") Left
        button.btn.btn-warning(type="button") Left
        button.btn.btn-default(type="button") Left
        button.btn.btn-info(type="button") Left
      footer.main-footer
        .pull-right
          b Version
          | 2.0
        span.copyright
          | &#169; 2015
          | 启明星辰