doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="assets/img/favicon.ico")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Light Bootstrap Dashboard by Creative Tim
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(name="viewport", content="width=device-width")
    link(href="../build/main.css", rel="stylesheet")
  body.sidebar-mini
    header.main-header
      a.logo(href="/")
        | LOGO
      nav.navbar.navbar-static-top
        a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-custom-menu
          ul.nav.navbar-nav
            li.notifications-menu 
              a(href="/") A
            li.notifications-menu 
              a(href="/") B
            li.notifications-menu 
              a(href="/") C
            li.notifications-menu 
              a(href="/") D
            li.notifications-menu 
              a(href="/") E 
            li.notifications-menu 
              a(href="/") F
    nav.main-sidebar
      ul.sidebar-menu
        li.active
          a(href="/")
            i.fa.fa-home
            | 首页
        li
          a(href="gird")
            | 终端升级
        li
          a(href="typography")
            | 软件管理
        li
          a(href="#tables")
            | 统计报表
        li
          a(href="forms")
            | 安全日志
        li
          a(href="buttons")
            | 服务日志
        li
          a(href="responsive")
            | 当前任务
        li
          a(href="responsive")
            | 历史任务
        li
          a(href="responsive")
            | 帐号管理
        li
          a(href="responsive")
            | 分组管理
        li
          a(href="responsive")
            | 定时体检
        li
          a(href="responsive")
            | 设置中心
    //- Begin include files
    .content-wrapper
      .content-header
        h1 Dashboard
          small detail
      .content
      footer.footer
        p.copyright.pull-right
          | &#169; 2015
          a(href="http://www.creative-tim.com") Creative Tim
          | , made with love for a better web