.row
  .col-md-12
    .bs-docs-section
      h1#tables.page-header
        a.anchorjs-link(href="#tables", aria-label="Anchor link for: tables", data-anchorjs-icon="", style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;")
        | Tables
      p
        | Use
        code .table-striped
        | to add zebra-striping to any table row within the
        code &#60;tbody&#62;
        | .
      #callout-tables-striped-ie8.bs-callout.bs-callout-danger
        h4 Cross-browser compatibility
        p
          | Striped tables are styled via the
          code :nth-child
          | CSS selector, which is not available in Internet Explorer 8.
      .bs-example(data-example-id="striped-table")
        table.table.table-striped
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope="row") 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope="row") 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope="row") 3
              td Larry
              td the Bird
              td @twitter
      //- example
      .zero-clipboard
        span.btn-clipboard Copy