@import "../../src/main";
$border-line-color:#e8e8e8;
$border-top: 40px;
$border-left: 30px;

.top {
  margin-top:20px;
}
.modal-footer {
  padding-top: 25px;
  > a {
    color: $text-color;
    padding-left: 13px;
    &:hover , &:focus {
      color: $brand-primary;
      padding-left: 13px;
    }
  }
}

.line {
  border-bottom: 1px solid $border-line-color;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4.Second {
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 15px;
}

//For Color
@mixin colorModel($topColor) {
  border-top: $border-top solid $topColor;
  height: $border-top + -10px;
  border-left: 1px solid $border-line-color;
  border-right: 1px solid $border-line-color;
  border-bottom: 1px solid $border-line-color;
  margin-bottom: 15px;
}
.colorModel-base {@include colorModel($gray-base)}
.colorModel-primary {@include colorModel($brand-primary)}
.colorModel-success {@include colorModel($brand-success)}
.colorModel-danger {@include colorModel($brand-danger)}
.colorModel-warning {@include colorModel($brand-warning)}
.colorModel-menu {@include colorModel($brand-menu)}
.colorModel-info {@include colorModel($brand-info)}
.colorModel-gray-darker {@include colorModel($gray-darker)}
.colorModel-gray-dark {@include colorModel($gray-dark)}
.colorModel-gray {@include colorModel($gray)}
.colorModel-gray-light {@include colorModel($gray-light)}
.colorModel-gray-lighter {@include colorModel($gray-lighter)}
.colorModel-primary-darker {@include  colorModel($color-primary-darker)}
.colorModel-primary-dark {@include  colorModel($color-primary-dark)}
.colorModel-primary {@include  colorModel($brand-primary)}
.colorModel-primary-light {@include  colorModel($color-primary-light)}
.colorModel-primary-lighter {@include  colorModel($color-primary-lighter)}
.colorModel-success-darker {@include  colorModel($color-success-darker)}
.colorModel-success-dark {@include  colorModel($color-success-dark)}
.colorModel-success {@include  colorModel($brand-success)}
.colorModel-success-light {@include  colorModel($color-success-light)}
.colorModel-success-lighter {@include  colorModel($color-success-lighter)}
.colorModel-danger-darker {@include  colorModel($color-danger-darker)}
.colorModel-danger-dark {@include  colorModel($color-danger-dark)}
.colorModel-danger {@include  colorModel($brand-danger)}
.colorModel-danger-light {@include  colorModel($color-danger-light)}
.colorModel-danger-lighter {@include  colorModel($color-danger-lighter)}
.colorModel-warning-darker {@include  colorModel($color-warning-darker)}
.colorModel-warning-dark {@include  colorModel($color-warning-dark)}
.colorModel-warning {@include  colorModel($brand-warning)}
.colorModel-warning-light {@include  colorModel($color-warning-light)}
.colorModel-warning-lighter {@include  colorModel($color-warning-lighter)}
.colorModel-info-darker {@include  colorModel($color-info-darker)}
.colorModel-info-dark {@include  colorModel($color-info-dark)}
.colorModel-info {@include  colorModel($brand-info)}
.colorModel-info-light {@include  colorModel($color-info-light)}
.colorModel-info-lighter {@include  colorModel($color-info-lighter)}
//.colorModel-menu-darker {@include  colorModel($color-menu-darker)}
//.colorModel-menu {@include  colorModel($color-menu-dark)}
//.colorModel-menu-light {@include  colorModel($color-menu-light)}

.content {
  padding: 5px;
  color:#777;
  font-size: 13px;
}


//For buttons
@mixin disable($leftcolor){
  border-left: $border-left solid $leftcolor;
  border-top: 1px solid $border-line-color;
  border-right: 1px solid $border-line-color;
  margin-top: $border-left + -10px;
  padding-top: 5px;
  padding-left: 10px;
  height: $border-left + 30px;

}
.bg-primary-lighter {@include disable($color-primary-lighter)}
.bg-success-lighter {@include disable($color-success-lighter)}
.bg-danger-lighter {@include disable($color-danger-lighter)}
.bg-warning-lighter {@include disable($color-warning-lighter)}
.bg-info-lighter {@include disable($color-info-lighter)}
.bg-default-lighter {@include disable(#fff)}

@mixin normal($leftcolor){
  border-left: $border-left solid $leftcolor;
  border-right: 1px solid $border-line-color;
  padding-top: 5px;
  padding-left: 10px;
  height: $border-left + 30px;
}
.bg-primary-light {@include normal($color-primary-light)}
.bg-success-light {@include normal($color-success-light)}
.bg-danger-light {@include normal($color-danger-light)}
.bg-warning-light {@include normal($color-warning-light)}
.bg-info-light {@include normal($color-info-light)}
.bg-default-light {@include normal(#fafafa)}

@mixin hover($leftcolor) {
  border-left: $border-left solid $leftcolor;
  border-right: 1px solid $border-line-color;
  border-bottom: 1px solid $border-line-color;
  margin-bottom: $border-left + -10px;
  padding-top: 5px;
  padding-left: 10px;
  height: $border-left + 30px;
}
.bg-primary-dark {@include hover($color-primary-dark)}
.bg-success-dark {@include hover($color-success-dark)}
.bg-danger-dark {@include hover($color-danger-dark)}
.bg-warning-dark {@include hover($color-warning-dark)}
.bg-info-dark {@include hover($color-info-dark)}
.bg-default-dark {@include hover(#f4f4f4)}



p.content-bg {
  color: #777;
  font-size: 13px;
}
.content-div {
 color: #777;
  > .btn-color {
    color: #fa515b;
    background-color: #fafafa;
    padding-left: 2px;
  }
}


// For documents
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 19px;
  padding-left: 16px;
}



@media (min-width: $screen-md-min) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-3 {
    width: 10%;
    position:fixed;
  }
  .col-md-9 {
    width: 79%;
    float: right;
  }
  .col-md-4{
    width: 29.5%;
  }
}

.nav {
  > .active >a {
    border-left: 2px solid $brand-primary;
    font-weight: bold;
    color: $brand-primary;
    padding-left: 12px;

    &:hover , &:focus {
      border-left: 2px solid $brand-primary;
      padding-left: 12px;
    }
  }
}
.pills {
  > li > a {
    color: $text-color;
    margin-bottom: 3px;
    padding: 2px 2px 2px 14px;
    &:hover , &:focus {
      border-left: 1px solid $brand-primary;
      color: $brand-primary;
      padding-left: 13px;
    }
  }
}

