@import "../../src/main";

.top {
  margin-top:20px;
}
.modal-footer {
  padding-top: 25px;
  > a {
    color: $text-color;
    padding-left: 13px;
    &:hover , &:focus {
      color: $brand-primary;
      border-left: 1px solid $brand-primary;
      padding-left: 12px;
    }
  }
}

.line {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4.Second {
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 15px;
}

//For Color
@mixin colorModel($topPx,$topColor,$borderColor) {
  border-top: $topPx solid $topColor;
  height: $topPx + -10px;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}

.colorModel-base {@include colorModel(40px,$gray-base,#e8e8e8)}
.colorModel-primary {@include colorModel(40px,$brand-primary,#e8e8e8)}
.colorModel-success {@include colorModel(40px,$brand-success,#e8e8e8)}
.colorModel-danger {@include colorModel(40px,$brand-danger,#e8e8e8)}
.colorModel-warning {@include colorModel(40px,$brand-warning,#e8e8e8)}
.colorModel-menu {@include colorModel(40px,$brand-menu,#e8e8e8)}
.colorModel-info {@include colorModel(40px,$brand-info,#e8e8e8)}
.colorModel-gray-darker {@include colorModel(40px,$gray-darker,#e8e8e8)}
.colorModel-gray-dark {@include colorModel(40px,$gray-dark,#e8e8e8)}
.colorModel-gray {@include colorModel(40px,$gray,#e8e8e8)}
.colorModel-gray-light {@include colorModel(40px,$gray-light,#e8e8e8)}
.colorModel-gray-lighter {@include colorModel(40px,$gray-lighter,#e8e8e8)}
.colorModel-primary-darker {@include  colorModel(40px,$color-primary-darker,#e8e8e8)}
.colorModel-primary-dark {@include  colorModel(40px,$color-primary-dark,#e8e8e8)}
.colorModel-primary {@include  colorModel(40px,$brand-primary,#e8e8e8)}
.colorModel-primary-light {@include  colorModel(40px,$color-primary-light,#e8e8e8)}
.colorModel-primary-lighter {@include  colorModel(40px,$color-primary-lighter,#e8e8e8)}
.colorModel-success-darker {@include  colorModel(40px,$color-success-darker,#e8e8e8)}
.colorModel-success-dark {@include  colorModel(40px,$color-success-dark,#e8e8e8)}
.colorModel-success {@include  colorModel(40px,$brand-success,#e8e8e8)}
.colorModel-success-light {@include  colorModel(40px,$color-success-light,#e8e8e8)}
.colorModel-success-lighter {@include  colorModel(40px,$color-success-lighter,#e8e8e8)}
.colorModel-danger-darker {@include  colorModel(40px,$color-danger-darker,#e8e8e8)}
.colorModel-danger-dark {@include  colorModel(40px,$color-danger-dark,#e8e8e8)}
.colorModel-danger {@include  colorModel(40px,$brand-danger,#e8e8e8)}
.colorModel-danger-light {@include  colorModel(40px,$color-danger-light,#e8e8e8)}
.colorModel-danger-lighter {@include  colorModel(40px,$color-danger-lighter,#e8e8e8)}
.colorModel-warning-darker {@include  colorModel(40px,$color-warning-darker,#e8e8e8)}
.colorModel-warning-dark {@include  colorModel(40px,$color-warning-dark,#e8e8e8)}
.colorModel-warning {@include  colorModel(40px,$brand-warning,#e8e8e8)}
.colorModel-warning-light {@include  colorModel(40px,$color-warning-light,#e8e8e8)}
.colorModel-warning-lighter {@include  colorModel(40px,$color-warning-lighter,#e8e8e8)}
.colorModel-info-darker {@include  colorModel(40px,$color-info-darker,#e8e8e8)}
.colorModel-info-dark {@include  colorModel(40px,$color-info-dark,#e8e8e8)}
.colorModel-info {@include  colorModel(40px,$brand-info,#e8e8e8)}
.colorModel-info-light {@include  colorModel(40px,$color-info-light,#e8e8e8)}
.colorModel-info-lighter {@include  colorModel(40px,$color-info-lighter,#e8e8e8)}
.colorModel-menu-darker {@include  colorModel(40px,$color-menu-darker,#e8e8e8)}
.colorModel-menu {@include  colorModel(40px,$color-menu-dark,#e8e8e8)}
.colorModel-menu-light {@include  colorModel(40px,$color-menu-light,#e8e8e8)}

.content {
  padding: 5px;
  color:#777;
  font-size: 13px;
}


//For buttons
@mixin disable($leftPx,$leftcolor,$bordercolor){
  border-left: $leftPx solid $leftcolor;
  border-top: 1px solid $bordercolor;
  border-right: 1px solid $bordercolor;
  margin-top: $leftPx+ -10px;
  padding-top: 5px;
  padding-left: 10px;
  height: $leftPx+30px;

}
.bg-primary-lighter {@include disable(30px,$color-primary-lighter,#e8e8e8)}
.bg-success-lighter {@include disable(30px,$color-success-lighter,#e8e8e8)}
.bg-danger-lighter {@include disable(30px,$color-danger-lighter,#e8e8e8)}
.bg-warning-lighter {@include disable(30px,$color-warning-lighter,#e8e8e8)}
.bg-info-lighter {@include disable(30px,$color-info-lighter,#e8e8e8)}
.bg-default-lighter {@include disable(30px,#fff,#e8e8e8)}

@mixin normal($leftPx,$leftcolor,$bordercolor){
  border-left: $leftPx solid $leftcolor;
  border-right: 1px solid $bordercolor;
  padding-top: 5px;
  padding-left: 10px;
  height: $leftPx + 30px;
}
.bg-primary-light {@include normal(30px,$color-primary-light,#e8e8e8)}
.bg-success-light {@include normal(30px,$color-success-light,#e8e8e8)}
.bg-danger-light {@include normal(30px,$color-danger-light,#e8e8e8)}
.bg-warning-light {@include normal(30px,$color-warning-light,#e8e8e8)}
.bg-info-light {@include normal(30px,$color-info-light,#e8e8e8)}
.bg-default-light {@include normal(30px,#fafafa,#e8e8e8)}

@mixin hover($leftPx,$leftcolor,$bordercolor) {
  border-left: $leftPx solid $leftcolor;
  border-right: 1px solid $bordercolor;
  border-bottom: 1px solid $bordercolor;
  margin-bottom: $leftPx+ -10px;
  padding-top: 5px;
  padding-left: 10px;
  height: $leftPx + 30px;
}
.bg-primary-dark {@include hover(30px,$color-primary-dark,#e8e8e8)}
.bg-success-dark {@include hover(30px,$color-success-dark,#e8e8e8)}
.bg-danger-dark {@include hover(30px,$color-danger-dark,#e8e8e8)}
.bg-warning-dark {@include hover(30px,$color-warning-dark,#e8e8e8)}
.bg-info-dark {@include hover(30px,$color-info-dark,#e8e8e8)}
.bg-default-dark {@include hover(30px,#f4f4f4,#e8e8e8)}



p.content-bg {
  color: #777;
  font-size: 13px;
}
.content-div {
 color: #777;
  > .btn-color {
    color: #fa515b;
    background-color: #fafafa;
    padding-left: 2px;
  }
}


// For documents
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 19px;
  padding-left: 16px;
}



@media (min-width: $screen-md-min) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-3 {
    width: 10%;
    position:fixed;
  }
  .col-md-9 {
    width: 79%;
    float: right;
  }
  .col-md-4{
    width: 29.5%;
  }
}

.nav {
  > .active >a {
    border-left: 2px solid $brand-primary;
    font-weight: bold;
    color: $brand-primary !important;
    padding-left: 12px;

    &:hover , &:focus {
      border-left: 2px solid $brand-primary;
      padding-left: 12px;
    }
  }
}
.pills {
  > li > a {
    color: $text-color;
    margin-bottom: 3px;
    padding: 2px 2px 2px 14px;
    &:hover , &:focus {
      border-left: 1px solid $brand-primary;
      color: $brand-primary !important;
      padding-left: 13px;
    }
  }
}

