h1 Buttons
.line
h4 Button Colors
.row
	.col-md-4
		div
			h5.content-btn Primary Button
			button.btn.btn-primary Button Text
			.bg-primary-lighter
				h5 Disable
				p.content-bg bg-primary-lighter
			.bg-primary-light
				h5 Normal
				p.content-bg bg-primary
			.bg-primary-dark
				h5 Hover &  Active
				p.content-bg bg-primary-dark
			.content-div
				| pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-primary



	.col-md-4
		div
			h5.content-btn Success Button
			button.btn.btn-success Button Text
			.bg-success-lighter
				h5 Disable
				p.content-bg bg-success-lighter
			.bg-success-light
				h5 Normal
				p.content-bg bg-success
			.bg-success-dark
				h5 Hover &  Active
				p.content-bg bg-success-dark
			.content-div
				| pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-success

	.col-md-4
		div
			h5.content-btn Danger Button
			button.btn.btn-danger Button Text
			.bg-danger-lighter
				h5 Disable
				p.content-bg bg-danger-lighter
			.bg-danger-light
				h5 Normal
				p.content-bg bg-danger
			.bg-danger-dark
				h5 Hover &  Active
				p.content-bg bg-danger-dark
			.content-div
				| pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-danger

.row
	.col-md-4
		div
			h5.content-btn Warning Button
			button.btn.btn-warning Button Text
			.bg-warning-lighter
				h5 Disable
				p.content-bg bg-warning-lighter
			.bg-warning-light
				h5 Normal
				p.content-bg bg-warning
			.bg-warning-dark
				h5 Hover &  Active
				p.content-bg bg-warning-dark
			.content-div
				| pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-warning



	.col-md-4
		div
			h5.content-btn Info Button
			button.btn.btn-info Button Text
			.bg-info-lighter
				h5 Disable
				p.content-bg bg-info-lighter
			.bg-info-light
				h5 Normal
				p.content-bg bg-info
			.bg-info-dark
				h5 Hover &  Active
				p.content-bg bg-info-dark
			.content-div
				| pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-info

	.col-md-4
		div
			h5.content-btn Default Button
			button.btn.btn-default Button Text
			.bg-default-lighter
				h5 Disable
				p.content-bg bg-default-lighter
			.bg-default-light
				h5 Normal
				p.content-bg bg-default
			.bg-default-dark
				h5 Hover &  Active
				p.content-bg bg-default-dark
			.content-div
				|	pages Default Multi-Purpose Theme Color.
				span Add class by simply typing
				span.btn-color .btn-default
