h1 Colors
.line
h4.Second Base Colors
.row
	.col-md-4
		.colorModel-base
			.content.pull-left
				| $gray-base
			.content.pull-right
				| #263238

	.col-md-4
		.colorModel-primary
			.content.pull-left
				| $brand-primary
			.content.pull-right
				| #1f8fe4

	.col-md-4
		.colorModel-success
			.content.pull-left
				| $brand-success
			.content.pull-right
				| #00c644


.row
	.col-md-4
		.colorModel-danger
			.content.pull-left
				| $brand-danger
			.content.pull-right
				| #ff6c60

	.col-md-4
		.colorModel-warning
			.content.pull-left
				| $brand-warning
			.content.pull-right
				| #f0ad4e

	.col-md-4
		.colorModel-menu
			.content.pull-left
				| $brand-menu
			.content.pull-right
				| #2b303b

.row
	.col-md-4
		.colorModel-info
			.content.pull-left
				| $brand-Info
			.content.pull-right
				| #33c5df

h4.Second Gray color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-gray-darker
			.content.pull-left
				| $gray-darker
			.content.pull-right
				| #3b464c

	.col-md-4
		h5 Text color
		.colorModel-gray-dark
			.content.pull-left
				| $gray-dark
			.content.pull-right
				| #7D8488

	.col-md-4
		h5 Base color
		.colorModel-gray
			.content.pull-left
				| $gray
			.content.pull-right
				| #263238

.row
	.col-md-4
		h5 Text heading
		.colorModel-gray-light
			.content.pull-left
				| $gray-light
			.content.pull-right
				| #92989b

	.col-md-4
		h5 Body background color
		.colorModel-gray-lighter
			.content.pull-left
				| $gray-lighter
			.content.pull-right
				| #2a363a

h4.Second Primary color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-primary-darker
			.content.pull-left
				| $color-primary-darker
			.content.pull-right
				| #166bab
	.col-md-4
		h5 Text color
		.colorModel-primary-dark
			.content.pull-left
				| $color-primary-dark
			.content.pull-right
				| #1d84d2
	.col-md-4
		h5 Base color
		.colorModel-primary
			.content.pull-left
				| $brand-primary
			.content.pull-right
				| #1f8fe4
.row
	.col-md-4
		h5 Text heading
		.colorModel-primary-light
			.content.pull-left
				| $color-primary-light
			.content.pull-right
				| #4ca5e9
	.col-md-4
		h5 Border color
		.colorModel-primary-lighter
			.content.pull-left
				| $color-primary-lighter
			.content.pull-right
				| #79bcef


h4.Second Success color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-success-darker
			.content.pull-left
				| $color-success-darker
			.content.pull-right
				| #009633
	.col-md-4
		h5 Text color
		.colorModel-success-dark
			.content.pull-left
				| $color-success-dark
			.content.pull-right
				| #01b73f
	.col-md-4
		h5 Base color
		.colorModel-success
			.content.pull-left
				| $brand-success
			.content.pull-right
				| #00c644
.row
	.col-md-4
		h5 Text heading
		.colorModel-success-light
			.content.pull-left
				| $color-success-light
			.content.pull-right
				| #32d068
	.col-md-4
		h5 Border color
		.colorModel-success-lighter
			.content.pull-left
				| $color-success-lighter
			.content.pull-right
				| #66dd8f

h4.Second Danger color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-danger-darker
			.content.pull-left
				| $color-danger-darker
			.content.pull-right
				| bf5142
	.col-md-4
		h5 Text color
		.colorModel-danger-dark
			.content.pull-left
				| $color-danger-dark
			.content.pull-right
				| #eb6450
	.col-md-4
		h5 Base color
		.colorModel-danger
			.content.pull-left
				| $brand-danger
			.content.pull-right
				| #ff6c58
.row
	.col-md-4
		h5 Text heading
		.colorModel-danger-light
			.content.pull-left
				| $color-danger-light
			.content.pull-right
				| #ff8879
	.col-md-4
		h5 Border color
		.colorModel-danger-lighter
			.content.pull-left
				| $color-danger-lighter
			.content.pull-right
				| #ffa79b

h4.Second Warning color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-warning-darker
			.content.pull-left
				| $color-warning-darker
			.content.pull-right
				| #b4823b
	.col-md-4
		h5 Text color
		.colorModel-warning-dark
			.content.pull-left
				| $color-warning-dark
			.content.pull-right
				| #dda048
	.col-md-4
		h5 Base color
		.colorModel-warning
			.content.pull-left
				| $brand-warning
			.content.pull-right
				| #f0ad4e
.row
	.col-md-4
		h5 Text heading
		.colorModel-warning-light
			.content.pull-left
				| $color-warning-light
			.content.pull-right
				| #f3bd71
	.col-md-4
		h5 Border color
		.colorModel-warning-lighter
			.content.pull-left
				| $color-warning-lighter
			.content.pull-right
				| #f6ce95


h4.Second Info color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-info-darker
			.content.pull-left
				| $color-info-darker
			.content.pull-right
				| #2694a7
	.col-md-4
		h5 Text color
		.colorModel-info-dark
			.content.pull-left
				| $color-info-dark
			.content.pull-right
				| #2fb6ce
	.col-md-4
		h5 Base color
		.colorModel-info
			.content.pull-left
				| $brand-info
			.content.pull-right
				| #33c5df
.row
	.col-md-4
		h5 Text heading
		.colorModel-info-light
			.content.pull-left
				| $color-info-light
			.content.pull-right
				| #5cd1e5
	.col-md-4
		h5 Border color
		.colorModel-info-lighter
			.content.pull-left
				| $color-info-lighter
			.content.pull-right
				| #85dcec


h4.Second Menu color shades
.row
	.col-md-4
		h5 Text heading
		.colorModel-menu-darker
			.content.pull-left
				| $sidebar-menu-bg
			.content.pull-right
				| #e9eff8
	.col-md-4
		h5 Text color
		.colorModel-menu
			.content.pull-left
				| $sidebar-menu-hover
			.content.pull-right
				| #2b303b
	.col-md-4
		h5 Base color
		.colorModel-menu-light
			.content.pull-left
				| $sidebar-memu-color
			.content.pull-right
				| #e9eff8
