h1 Colors
.line
h4 Base Colors
.row
	.col-md-4
		.colorModel-master
			.content.pull-left
				| Master color
			.content.pull-right
				| #526069

	.col-md-4
		.colorModel-primary
			.content.pull-left
				| Primary color
			.content.pull-right
				| #1f8fe4

	.col-md-4
		.colorModel-success
			.content.pull-left
				| Success color
			.content.pull-right
				| #00c644


.row
	.col-md-4
		.colorModel-danger
			.content.pull-left
				| Danger color
			.content.pull-right
				| #ff6c60

	.col-md-4
		.colorModel-warning
			.content.pull-left
				| Warning color
			.content.pull-right
				| #f0ad4e

	.col-md-4
		.colorModel-menu
			.content.pull-left
				| Menu color
			.content.pull-right
				| #e9eff8

.row
	.col-md-4
		.colorModel-info
			.content.pull-left
				| Info color
			.content.pull-right
				| #33c5df

h1 Master color shades
.row
	.col-md-4
		h4 Text heading
		.colorModel-bg-dacker
			.content.pull-left
				| .bg-master-dacker
			.content.pull-right
				| #21262a

	.col-md-4
		h4 Text color
		.colorModel-bg-dack
			.content.pull-left
				| .bg-master-dack
			.content.pull-right
				| #394349

	.col-md-4
		h4 Base color
		.colorModel-bg-master
			.content.pull-left
				| .bg-master
			.content.pull-right
				| #526069

.row
	.col-md-4
		h4 Text heading
		.colorModel-bg-light
			.content.pull-left
				| .bg-master-light
			.content.pull-right
				| #758087

	.col-md-4
		h4 Border color
		.colorModel-bg-lighter
			.content.pull-left
				| .bg-master-lighter
			.content.pull-right
				| #a5acb1

	.col-md-4
		h4 Background color
		.colorModel-bg-lightest
			.content.pull-left
				| .bg-master-lightest
			.content.pull-right
				| #f6f7f7