/// Layout content
content, #content {
  position: relative;
  display: block;
  min-height: calc(100% - 109px);
  min-height: -moz-calc(100% - 109px);
  padding: 0px 0px 59px 0px;
  margin-left: $sidebar-width;
  background-color: $content-bg-color;
}
@media screen and (max-width: $screen-sm-max) {
  content, #content {
    margin-left: 0px;
  }
}
