/// Layout content
content, #content {
  position: relative;
  display: block;
  min-height: 669px;
  padding: $padding-default $padding-default 59px $padding-default;
  margin-left: $sidebar-width;
  background-color: rgb(238, 243, 250);
}
@media screen and (max-width: $screen-sm-max) {
  content, #content {
    margin-left: 0px;
  }
}
