/*
 * Layout: Dashboard
 * ------------------
 */

html {
    height: 100%;
}
/* Body Triggers for layout options 
------------------------------------------------------------------
*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    &.fixed-header {
        .header {
            position: fixed;
            left: 0;
            top: 0;
        }
    }
    &.mobile{
        .sidebar-menu {
            overflow: scroll;
             -webkit-overflow-scrolling: touch;
        }
        .sidebar-menu > ul {
            height: auto !important;
            overflow: visible !important;
            -webkit-overflow-scrolling: touch !important;
        }
        .page-sidebar .sidebar-menu .menu-items {
            li{
                &:hover{
                    a{
                        color:$color-menu-light;
                    }
                    .icon-thumbnail{
                        color:$color-menu-light !important;
                    }
                }
                &.active, &.open{
                    & > a{
                        color:#fff;
                    }
                    & > .icon-thumbnail{
                        color:#fff;
                    }             
                }
            }
        }
        .drager{
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
    &.sidebar-visible{
        .page-sidebar{
            .scroll-element{
                visibility: visible;
            }
            .menu-items {
                .icon-thumbnail{
                    transform: translate3d(-14px,0,0)
                }
            }
            .sidebar-header .sidebar-header-controls{
                transform: translate3d(48px,0,0)
            }
        }
        
    }
    &.no-header{
        .page-container .page-content-wrapper .content{
            padding-top: 0px;
        }
        .header{
            border-bottom-color: transparent;
        }
    }
    &.dashboard{
        background: $dashboard-background;
        .page-container{
            background: $dashboard-background;
        }
    }
}

.content-wrapper{
    min-height: 100%;
    position: relative;
    background-color: $color-master-lightest;
    .content {
        /* Content holder */
        margin-left: 200px;
        display: block;
        height: 100%;
        padding: 80px 40px 40px 40px;
        z-index: 10;
        padding-top: $layout-header-height;
        padding-bottom: 72px;
        min-height: 100%;
        transform: transition(all 0.3s ease);
        &.full-width{
            width: 100%;
        }
        .content-inner{
            display: inline-block;
            vertical-align: top;
            height: 100%;
            padding-left: 30px;
            position: relative;
        }
        &:only-child{
            padding-bottom:0px;
        }
        &.overlay-footer{
            padding-bottom:0px;
        }
    } 
    .footer{
        /* Footer */
        margin-left: 200px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: transition(left 0.3s ease);
    }
}
// .content {
//     /* Content holder */
//     margin-left: 200px;
//     display: block;
//     height: 100%;
//     padding: 80px 40px 40px 40px;
//     z-index: 10;
//     padding-top: $layout-header-height;
//     padding-bottom: 72px;
//     min-height: 100%;
//     transform: transition(all 0.3s ease);
//     background-color: $color-master-lightest;
//     }



//For document
/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */
.modal-footer {
    padding: 15px;
    text-align: right;
}
.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 20px;
}
.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px;
}
.bs-docs-footer-links li:first-child {
    padding-left: 0;
}

@media (min-width: 768px) {
    .bs-docs-footer p {
        margin-bottom: 0;
    }
}
