/// Layout footer
footer, #footer {
  padding: $padding-default;
  font-size: $font-size-base;
  text-align: center !important;
  color: $footer-color;
  background-color: rgb(238, 243, 250);
  a{
    color: $footer-color;
  }
  a:hover, a:focus {
    color: $footer-a-hover-color;
  }
}
