/// This is a header layout and it supports nav, nav-toolbar, user-info, dropdown
/// @group header
/// @since 0.4.0
header {
  height: $layout-header-height;
  background-color: $header-bgcolor;
  .logo {
    float: left;
    display: block;
    text-align: center;
    line-height: $layout-header-height;
    width: $layout-sidepanel-pin-width;
    img {
      height: 28px;
      vertical-align: middle;
    }
  }
  .header-nav{
    margin-right: 10px;
  }
}
