/// Sidebar is a layout and it supports user-panel, user-info and menu
/// @group sidebar
/// @since 0.2.0

sidebar, #sidebar {
  left: 0;
  min-height: calc(100% - 50px);
  min-height: -moz-calc(100% - 50px);
  width: $sidebar-width;
  position: absolute;
  background: $sidebar-bg-color;
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
  .user-panel {
    padding: 17px 0px 0px 15px;
    margin-bottom: 15px;
    > .user-info {
      font-weight: 600;
      color: $sidebar-font-color;
      padding: 0px;
    }
  }
  > ul.menu {
    border-top: 2px solid #e0e6ed;
  }
}

/// This is a responsive ,it hides sidebar when screen less than $screen-sm-max
/// @group sidebar
@media screen and (max-width: $screen-sm-max) {
  sidebar, #sidebar {
    left: -220px;
  }
}
