/*
 * Layout: Sidebar
 * ------------------
 */
#sidebar, sidebar {
  min-height: 1446px;
  width: $sidebar-width;
  position: absolute;
  margin-bottom: $margin-default;
  background: #e9eff8;
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
  .user-panel {
    padding: 17px 0px 0px 15px;
    > .user-info {
      font-weight: 600;
      color: #555555;
      padding: 0px;
      > p {
        margin-bottom: 15px;
      }
    }
  }
  > ul.menu {
    border-top: 2px solid #e0e6ed;
  }
}
